<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Wojownikowa Gra 4</title>
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="/" class="link">Arena</a></li>
            <li><a href="/warriors/add" class="link">Nowy Wojownik</a></li>
            <li><a href="/warriors/hall-of-fame" class="link">Sala Sław</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>