<form id="new-warrior">
    <label for="name">Nazwa</label>
    <input id="name" type="text">
    <br>

    <p id="points"></p>

    <div class="power">
        <label>Siła: </label><span id="power"></span>
        <button class="point-btn" name="add">Dodaj</button>
        <button class="point-btn" name="sub">Odejmij</button>
    </div>

    <div class="defence">
        <label>Obrona: </label><span id="defence"></span>
        <button class="point-btn" name="add">Dodaj</button>
        <button class="point-btn" name="sub">Odejmij</button>
    </div>

    <div class="vitality">
        <label>Wytrzymałość: </label><span id="vitality"></span>
        <button class="point-btn" name="add">Dodaj</button>
        <button class="point-btn" name="sub">Odejmij</button>
    </div>

    <div class="agility">
        <label>Zwinność: </label><span id="agility"></span>
        <button class="point-btn" name="add">Dodaj</button>
        <button class="point-btn" name="sub">Odejmij</button>
    </div>

    <button type="submit">Dodaj Wojownika</button>
</form>
<script src="/js/form.js"></script>